.interests-item {
  background-color: blue;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 10px 30px black;
}

.intersts__title {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  background: linear-gradient(#8792D4, #44D6DC);
}

.intersts__calification {
  display: flex;
  background: white;
  justify-content: center;
}